@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth; }

.backdrop {
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  background-color: #111; }

.background, .cover {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -10; }

.cover {
  width: 100%;
  height: 100vh;
  background-color: #111; }

.background {
  z-index: -5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  color: #0984e3;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #0767b2; }

.flexing {
  display: flex;
  justify-content: space-between; }

.arrow {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  padding-bottom: .5rem;
  border-radius: 50%;
  position: fixed;
  z-index: 50;
  bottom: 4rem;
  right: 5rem;
  background-color: #fdcb6e;
  color: #0984e3;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

.dropdown {
  transform: translateY(-100vh);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 20;
  background-color: #FEFEFE;
  width: 100%;
  height: 50vh;
  min-height: auto;
  padding: 3rem;
  box-shadow: 2px 3px 3px rgba(254, 254, 254, 0.5); }
  .dropdown-close {
    font-size: 5rem;
    font-weight: 600;
    color: #d63031; }
  .dropdown li {
    margin-bottom: 1rem; }

@keyframes expand {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

.hero {
  width: 100%;
  height: 100vh;
  color: #FEFEFE; }
  .hero__nav {
    position: relative;
    background-color: #111;
    width: 100%;
    height: 10vh;
    min-height: 9rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.5px 1px 1px rgba(255, 255, 255, 0.5); }
    .hero__nav .hamburger {
      font-size: 4rem;
      position: absolute;
      right: 2rem;
      top: 3rem;
      cursor: pointer; }
    .hero__nav-logo {
      padding: 1.5rem 0;
      text-align: center;
      color: #FEFEFE;
      display: block;
      border-bottom: 1.5px solid #fdcb6e; }
    .hero__nav-menu {
      display: flex;
      align-items: stretch;
      width: 50%;
      height: 100%; }
      @media screen and (max-width: 950px) {
        .hero__nav-menu {
          width: 60%; } }
      @media screen and (max-width: 800px) {
        .hero__nav-menu {
          width: 70%; } }
      .hero__nav-menu li {
        height: 100%; }
      .hero__nav-menu--item:link, .hero__nav-menu--item:visited {
        display: block;
        height: 100%;
        color: #FEFEFE;
        font-size: 1.6rem;
        padding: 2rem;
        transition: all .3s;
        border-bottom: 3px solid transparent; }
      .hero__nav-menu--item:hover, .hero__nav-menu--item:active {
        background-color: rgba(68, 68, 68, 0.6);
        border-bottom: 3px solid #0984e3; }
      .hero__nav-menu .active {
        background-color: rgba(68, 68, 68, 0.6);
        border-bottom: 3px solid #0984e3; }
  .hero__title {
    height: 10vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 1.8px;
    font-weight: 300;
    text-transform: uppercase; }
    .hero__title-desc {
      color: #fdcb6e;
      text-align: center;
      margin-bottom: 3.5rem;
      height: 5vh; }
  .hero__desc {
    width: 450px;
    margin: 0 auto;
    height: 20vh; }
  .hero__img {
    object-fit: contain;
    display: block;
    width: 50%;
    height: 30vh;
    margin: 3rem auto; }

.aboutme, .contact {
  background-color: #FEFEFE;
  color: #111;
  height: 100%; }
  .aboutme .wrapper, .contact .wrapper {
    padding: 5rem; }
  .aboutme__title, .contact__title {
    text-align: center;
    position: relative;
    margin-bottom: 4rem; }
    .aboutme__title::after, .contact__title::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 80px;
      background-color: #0984e3; }
  .aboutme__info, .contact__info {
    display: flex;
    justify-content: center; }
    .aboutme__info-img, .contact__info-img {
      width: 40%;
      height: 40vh;
      object-fit: contain; }
    .aboutme__info-text, .contact__info-text {
      width: 40%; }
      .aboutme__info-text--title, .contact__info-text--title {
        margin-bottom: 2rem; }
      .aboutme__info-text--desc, .contact__info-text--desc {
        line-height: 1.7em;
        font-size: 1.6rem;
        margin-bottom: 1.5rem; }
  .aboutme .technologies, .contact .technologies {
    background-color: #111;
    color: #FEFEFE;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .aboutme .technologies__bars, .contact .technologies__bars {
      width: 60%; }
      .aboutme .technologies__bars .technology, .contact .technologies__bars .technology {
        margin-bottom: 2.5rem; }
        .aboutme .technologies__bars .technology__name, .contact .technologies__bars .technology__name {
          margin-bottom: 1rem;
          font-size: 1.6rem; }
        .aboutme .technologies__bars .technology .bar, .contact .technologies__bars .technology .bar {
          height: 3rem;
          width: 100%;
          background-color: #fdcb6e;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
          .aboutme .technologies__bars .technology .bar .reached, .contact .technologies__bars .technology .bar .reached {
            height: 100%;
            width: 60%; }
            .aboutme .technologies__bars .technology .bar .reached .fill, .contact .technologies__bars .technology .bar .reached .fill {
              background-color: #0984e3;
              width: 100%;
              height: 100%;
              animation: expand 1.5s ease-in-out 2s; }
          .aboutme .technologies__bars .technology .bar .html, .contact .technologies__bars .technology .bar .html {
            width: 95%; }
          .aboutme .technologies__bars .technology .bar .css, .contact .technologies__bars .technology .bar .css {
            width: 95%; }
          .aboutme .technologies__bars .technology .bar .js, .contact .technologies__bars .technology .bar .js {
            width: 90%; }
          .aboutme .technologies__bars .technology .bar .react, .contact .technologies__bars .technology .bar .react {
            width: 80%; }
          .aboutme .technologies__bars .technology .bar .php, .contact .technologies__bars .technology .bar .php {
            width: 75%; }
  .aboutme .history, .contact .history {
    background-color: #FEFEFE;
    color: #111;
    padding: 5rem;
    position: relative; }
    .aboutme .history__title, .contact .history__title {
      text-align: center;
      position: relative;
      margin-bottom: 4rem; }
      .aboutme .history__title::after, .contact .history__title::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80px;
        background-color: #0984e3; }
    .aboutme .history__edu, .aboutme .history__work, .contact .history__edu, .contact .history__work {
      width: 45%; }
      .aboutme .history__edu-title, .aboutme .history__work-title, .contact .history__edu-title, .contact .history__work-title {
        font-size: 2rem;
        margin-bottom: 2rem; }
      .aboutme .history__edu-desc, .aboutme .history__work-desc, .contact .history__edu-desc, .contact .history__work-desc {
        line-height: 1.6em; }
      .aboutme .history__edu ul, .aboutme .history__work ul, .contact .history__edu ul, .contact .history__work ul {
        margin-top: 3rem; }
        .aboutme .history__edu ul li, .aboutme .history__work ul li, .contact .history__edu ul li, .contact .history__work ul li {
          margin: 3.5rem 0;
          margin-left: 3rem;
          position: relative; }
          .aboutme .history__edu ul li .reached, .aboutme .history__work ul li .reached, .contact .history__edu ul li .reached, .contact .history__work ul li .reached {
            position: relative;
            width: 50%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.3);
            margin-top: 4rem; }
            .aboutme .history__edu ul li .reached::before, .aboutme .history__work ul li .reached::before, .contact .history__edu ul li .reached::before, .contact .history__work ul li .reached::before {
              content: '';
              position: absolute;
              font-size: 1.2rem;
              top: -2rem;
              left: 0; }
            .aboutme .history__edu ul li .reached .fill, .aboutme .history__work ul li .reached .fill, .contact .history__edu ul li .reached .fill, .contact .history__work ul li .reached .fill {
              width: 50%;
              height: 100%;
              background-color: #13a513; }
          .aboutme .history__edu ul li .miun::before, .aboutme .history__work ul li .miun::before, .contact .history__edu ul li .miun::before, .contact .history__work ul li .miun::before {
            content: 'Currently at 50%'; }
          .aboutme .history__edu ul li .miun .fill, .aboutme .history__work ul li .miun .fill, .contact .history__edu ul li .miun .fill, .contact .history__work ul li .miun .fill {
            width: 50%; }
          .aboutme .history__edu ul li .fcc::before, .aboutme .history__work ul li .fcc::before, .contact .history__edu ul li .fcc::before, .contact .history__work ul li .fcc::before {
            content: 'Currently at 70%'; }
          .aboutme .history__edu ul li .fcc .fill, .aboutme .history__work ul li .fcc .fill, .contact .history__edu ul li .fcc .fill, .contact .history__work ul li .fcc .fill {
            width: 70%; }
          .aboutme .history__edu ul li::before, .aboutme .history__work ul li::before, .contact .history__edu ul li::before, .contact .history__work ul li::before {
            content: '\01F449';
            position: absolute;
            left: -3rem; }
          .aboutme .history__edu ul li .edutitle, .aboutme .history__work ul li .edutitle, .contact .history__edu ul li .edutitle, .contact .history__work ul li .edutitle {
            font-size: 1.6rem;
            margin-bottom: 1rem; }
          .aboutme .history__edu ul li .eduplace, .aboutme .history__work ul li .eduplace, .contact .history__edu ul li .eduplace, .contact .history__work ul li .eduplace {
            font-size: 1.4rem;
            font-weight: 600; }
    .aboutme .history__work .projectlink:link, .aboutme .history__work .projectlink:visited, .contact .history__work .projectlink:link, .contact .history__work .projectlink:visited {
      display: block;
      width: 17rem;
      padding: 2rem 1.5rem;
      margin-top: 3rem;
      background-color: #0984e3;
      color: #fdcb6e;
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;
      transition: all .3s; }
    .aboutme .history__work .projectlink:hover, .aboutme .history__work .projectlink:active, .contact .history__work .projectlink:hover, .contact .history__work .projectlink:active {
      background-color: #0767b2; }
    .aboutme .history .certificates, .contact .history .certificates {
      display: none;
      padding: 1.5rem 3rem;
      width: 90vw;
      height: 85vh;
      background-color: #eed7a7;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
      z-index: 20;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .aboutme .history .certificates .active, .contact .history .certificates .active {
        color: #13a513; }
      .aboutme .history .certificates .close, .contact .history .certificates .close {
        cursor: pointer;
        width: 30px;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 5rem;
        font-weight: 600;
        color: #d63031; }
      .aboutme .history .certificates__title, .contact .history .certificates__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem; }
        .aboutme .history .certificates__title::after, .contact .history .certificates__title::after {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          width: 80px;
          background-color: #0984e3; }
      .aboutme .history .certificates__img, .contact .history .certificates__img {
        width: 80%;
        height: 40vh;
        margin: 3rem auto;
        background-image: url(../img/certificates/basic_css_jonas.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .aboutme .history .certificates__courses, .contact .history .certificates__courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .aboutme .history .certificates__courses-course, .contact .history .certificates__courses-course {
          margin-bottom: 1rem;
          cursor: pointer;
          color: #0984e3;
          font-weight: 600;
          transition: all .3s; }
          .aboutme .history .certificates__courses-course:hover, .contact .history .certificates__courses-course:hover {
            color: #065999; }
  .aboutme .skills, .contact .skills {
    background-color: #111;
    color: #FEFEFE;
    padding: 5rem; }
    .aboutme .skills__title, .contact .skills__title {
      text-align: center;
      position: relative;
      margin-bottom: 4rem; }
      .aboutme .skills__title::after, .contact .skills__title::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80px;
        background-color: #0984e3; }
    .aboutme .skills__box, .contact .skills__box {
      width: 55%;
      margin: 5rem auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .aboutme .skills__box-item, .contact .skills__box-item {
        cursor: pointer;
        width: 30%;
        margin-bottom: 4.5rem;
        position: relative;
        transition: all .3s; }
        .aboutme .skills__box-item:hover, .contact .skills__box-item:hover {
          transform: translateY(10px); }
        .aboutme .skills__box-item:hover .skills__box-item--desc, .contact .skills__box-item:hover .skills__box-item--desc {
          opacity: 1; }
        .aboutme .skills__box-item--desc, .contact .skills__box-item--desc {
          opacity: 0;
          text-align: center;
          position: absolute;
          z-index: 20;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(254, 254, 254, 0.9);
          color: #111;
          font-size: 1.4rem;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 2rem .5rem;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          transition: all .3s;
          backface-visibility: hidden; }
        .aboutme .skills__box-item img, .contact .skills__box-item img {
          width: 100%; }
        .aboutme .skills__box-item p, .contact .skills__box-item p {
          position: absolute;
          bottom: -3rem;
          left: 50%;
          transform: translateX(-50%); }
  .aboutme .newskills, .contact .newskills {
    background-color: #111;
    color: #FEFEFE;
    padding: 5rem; }
    .aboutme .newskills__title, .contact .newskills__title {
      text-align: center;
      position: relative;
      margin-bottom: 4rem; }
      .aboutme .newskills__title::after, .contact .newskills__title::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80px;
        background-color: #0984e3; }
    .aboutme .newskills__box, .contact .newskills__box {
      width: 55%;
      margin: 5rem auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .aboutme .newskills__box-item, .contact .newskills__box-item {
        cursor: pointer;
        width: 30%;
        margin-bottom: 4.5rem;
        position: relative;
        transition: all .3s; }
        .aboutme .newskills__box-item:hover, .contact .newskills__box-item:hover {
          transform: translateY(10px); }
        .aboutme .newskills__box-item:hover .newskills__box-item--desc, .contact .newskills__box-item:hover .newskills__box-item--desc {
          opacity: 1; }
        .aboutme .newskills__box-item--desc, .contact .newskills__box-item--desc {
          opacity: 0;
          text-align: center;
          position: absolute;
          z-index: 20;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(254, 254, 254, 0.9);
          color: #111;
          font-size: 1.4rem;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 2rem .5rem;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          transition: all .3s;
          backface-visibility: hidden; }
        .aboutme .newskills__box-item img, .contact .newskills__box-item img {
          width: 100%; }
        .aboutme .newskills__box-item p, .contact .newskills__box-item p {
          position: absolute;
          bottom: -3rem;
          left: 50%;
          transform: translateX(-50%); }

.projects .wrapper {
  padding: 5rem; }

.projects__title {
  text-align: center;
  position: relative;
  margin-bottom: 4rem; }
  .projects__title::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: #0984e3; }

.projects__collection {
  width: 100%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .projects__collection-item {
    width: 30%;
    min-width: 31.5rem;
    height: 100%;
    background-color: #FEFEFE;
    margin-bottom: 3rem;
    padding: 1.5rem; }
    .projects__collection-item .protector {
      cursor: pointer;
      width: 100%;
      height: 70%;
      overflow: hidden; }
      .projects__collection-item .protector:hover .projects__collection-item--img {
        transform: scale(1.3); }
        .projects__collection-item .protector:hover .projects__collection-item--img .viewbtn, .projects__collection-item .protector:hover .projects__collection-item--img .srcbtn {
          opacity: 1; }
        .projects__collection-item .protector:hover .projects__collection-item--img::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2); }
    .projects__collection-item--img {
      position: relative;
      width: 100%;
      height: 30vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .5s; }
      .projects__collection-item--img .viewbtn, .projects__collection-item--img .srcbtn {
        opacity: 0;
        padding: 1rem 1.5rem;
        border: 1px solid #0984e3;
        background-color: rgba(254, 254, 254, 0.7);
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s; }
        .projects__collection-item--img .viewbtn:hover, .projects__collection-item--img .srcbtn:hover {
          background-color: #FEFEFE; }
      .projects__collection-item--img .srcbtn {
        top: 50%; }
    .projects__collection-item--info {
      margin-top: 1rem;
      width: 100%;
      height: 30%;
      background-color: #FEFEFE;
      color: #111; }
      .projects__collection-item--info .desc {
        font-size: 1.6rem;
        margin-bottom: .5rem; }
      .projects__collection-item--info .tools {
        font-size: 1.4rem;
        margin-bottom: .5rem; }
        .projects__collection-item--info .tools span {
          font-weight: 600; }
      .projects__collection-item--info .buttons {
        text-align: center; }
      .projects__collection-item--info .readmore:link, .projects__collection-item--info .readmore:visited {
        display: inline-block;
        font-size: 1.4rem;
        background-color: #0984e3;
        color: #FEFEFE;
        padding: 1rem 2.5rem;
        margin: 1rem 0;
        transition: all .3s; }
      .projects__collection-item--info .readmore:hover, .projects__collection-item--info .readmore:active {
        background-color: #065999; }
  .projects__collection .projects__collection-item:nth-child(1) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Bookworm.png"); }
  .projects__collection .projects__collection-item:nth-child(2) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Fastigheter Mäkleri.png"); }
  .projects__collection .projects__collection-item:nth-child(3) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Nätbygg AB.png"); }
  .projects__collection .projects__collection-item:nth-child(4) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Restaurant App.png"); }

.project {
  background-color: #FEFEFE;
  color: #111;
  height: 100%; }
  .project .wrapper {
    padding: 5rem;
    background-color: #FEFEFE;
    text-align: center; }
  .project__title {
    text-align: center;
    position: relative;
    margin-bottom: 4rem; }
    .project__title::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 80px;
      background-color: #0984e3; }
  .project .viewproject {
    font-size: 2rem;
    display: inline-block; }
  .project__desc {
    width: 40%;
    margin: 3rem auto; }
  .project__imgtxt {
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem auto 1.5rem auto; }
  .project .moodboard1 {
    background-image: url(../img/project1/moodboard.jpg); }
  .project__moodboard {
    width: 50%;
    margin: 2rem auto;
    height: 30vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .project .mockup1 {
    background-image: url(../img/project1/mockup_main.jpg); }
  .project__mockup {
    width: 40%;
    margin: 2rem auto;
    height: 60vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
  .project .section2 {
    background-image: url(../img/screenshots/Section_Project2_Fastigheter.jpg); }
  .project .section4 {
    background-image: url(../img/screenshots/Section_Project4_Restaurant.png); }
  .project .section3 {
    background-image: url(../img/screenshots/Section_Natbygg.png); }
  .project .sitemap3 {
    background-image: url(../img/screenshots/Sitemap_Project3.png); }
  .project__section, .project__sitemap {
    width: 55%;
    margin: 2rem auto;
    height: 40vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.blog, .blogpost {
  background-color: #111; }
  .blog .title, .blogpost .title {
    text-align: center;
    margin-bottom: 3rem; }
  .blog .wrapper, .blogpost .wrapper {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-between; }
  .blog__left, .blogpost__left {
    width: 65%; }
  .blog__right, .blogpost__right {
    width: 30%; }
  .blog__article:nth-child(1) .blog__article-img, .blogpost__article:nth-child(1) .blog__article-img {
    background-image: url(../img/blogpics/christopher-gower-291246-unsplash.jpg); }
  .blog__article:nth-child(2) .blog__article-img, .blogpost__article:nth-child(2) .blog__article-img {
    background-image: url(../img/blogpics/chuttersnap-1423187-unsplash.jpg); }
  .blog__article:nth-child(3) .blog__article-img, .blogpost__article:nth-child(3) .blog__article-img {
    background-image: url(../img/blogpics/clement-h-544786-unsplash.jpg); }
  .blog__article:nth-child(4) .blog__article-img, .blogpost__article:nth-child(4) .blog__article-img {
    background-image: url(../img/blogpics/christopher-gower-291246-unsplash.jpg); }
  .blog__article, .blogpost__article {
    width: 100%;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); }
    .blog__article-img, .blogpost__article-img {
      width: 100%;
      height: 50vh;
      background-image: url(../img/blogpics/bruno-martins-25865-unsplash.jpg);
      background-position: center;
      background-size: cover; }
    .blog__article-info, .blogpost__article-info {
      background-color: #FEFEFE;
      color: #111;
      padding: 3rem; }
      .blog__article-info--date, .blogpost__article-info--date {
        font-size: 1.4rem;
        margin-bottom: 1.5rem; }
        .blog__article-info--date span, .blogpost__article-info--date span {
          color: #0984e3; }
      .blog__article-info--title, .blogpost__article-info--title {
        margin-bottom: 1.5rem; }
      .blog__article-info--desc, .blogpost__article-info--desc {
        line-height: 1.6em;
        font-size: 1.6rem;
        margin-bottom: 2.5rem; }
      .blog__article-info--buttons, .blogpost__article-info--buttons {
        text-align: center; }
        .blog__article-info--buttons .readmore:link, .blog__article-info--buttons .readmore:visited, .blogpost__article-info--buttons .readmore:link, .blogpost__article-info--buttons .readmore:visited {
          padding: 1rem 2.5rem;
          background-color: #0984e3;
          color: #FEFEFE;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          transition: all .3s; }
        .blog__article-info--buttons .readmore:hover, .blog__article-info--buttons .readmore:active, .blogpost__article-info--buttons .readmore:hover, .blogpost__article-info--buttons .readmore:active {
          background-color: #065999; }
  .blog .recentposts, .blogpost .recentposts {
    padding-bottom: 3rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.6); }
    .blog .recentposts__title, .blogpost .recentposts__title {
      margin-bottom: 2rem; }
    .blog .recentposts__list, .blogpost .recentposts__list {
      list-style: disc;
      margin-left: 2rem; }
      .blog .recentposts__list-item, .blogpost .recentposts__list-item {
        opacity: .7;
        transition: all .3s;
        margin-bottom: 1rem; }
        .blog .recentposts__list-item:hover, .blogpost .recentposts__list-item:hover {
          opacity: 1; }
        .blog .recentposts__list-item a, .blogpost .recentposts__list-item a {
          color: inherit;
          font-weight: 300; }
  .blog .suggestions, .blogpost .suggestions {
    padding-top: 3rem; }
    .blog .suggestions__title, .blogpost .suggestions__title {
      margin-bottom: 1.5rem; }
    .blog .suggestions__text, .blogpost .suggestions__text {
      line-height: 1.6em;
      font-size: 1.6rem;
      margin-bottom: 2.5rem; }
    .blog .suggestions__buttons, .blogpost .suggestions__buttons {
      text-align: center; }
    .blog .suggestions .contactbtn:link, .blog .suggestions .contactbtn:visited, .blogpost .suggestions .contactbtn:link, .blogpost .suggestions .contactbtn:visited {
      padding: 1rem 2.5rem;
      background-color: #0984e3;
      color: #FEFEFE;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      transition: all .3s; }
    .blog .suggestions .contactbtn:hover, .blog .suggestions .contactbtn:active, .blogpost .suggestions .contactbtn:hover, .blogpost .suggestions .contactbtn:active {
      background-color: #065999; }

.blogpost .wrapper {
  background-color: #FEFEFE;
  color: #111; }

.blogpost .blog__article {
  box-shadow: 1px 1.5px 2px rgba(51, 51, 51, 0.7); }

.blogpost .recentposts {
  padding-bottom: 3rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.6); }

.blogpost .blog__article-info {
  padding: 5rem 20%; }

.blogpost .blog__article-info--desc {
  opacity: .7; }

.blogpost .blog__article-info--text {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 2rem; }

.contact {
  height: 90vh; }
  .contact__info-text {
    width: 50%; }
  .contact .buttons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .contact .buttons .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 3.5rem; }
      .contact .buttons .button .icon {
        font-size: 4rem;
        margin-bottom: 1rem; }
      .contact .buttons .button span {
        padding: .5rem .8rem;
        background-color: #fdcb6e;
        color: #111;
        font-size: 1.2rem;
        transition: all .3s; }
        .contact .buttons .button span:hover {
          background-color: #fcb023; }
