@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #111;
  scroll-behavior: smooth; }

.backdrop {
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); }

html {
  font-size: 62.5%; }

body {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  color: #0984e3;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #0767b2; }

.flexing {
  display: flex;
  justify-content: space-between; }

.arrow {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  padding-bottom: .5rem;
  border-radius: 50%;
  position: fixed;
  z-index: 50;
  bottom: 4rem;
  right: 5rem;
  background-color: #fdcb6e;
  color: #0984e3;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

@keyframes expand {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

.hero {
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: #FEFEFE; }
  .hero__nav {
    background-color: #111;
    width: 100%;
    height: 10vh;
    min-height: 9rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__nav-logo {
      padding: 1.5rem 0;
      text-align: center;
      color: #FEFEFE;
      display: block;
      border-bottom: 1.5px solid #fdcb6e; }
    .hero__nav-menu {
      display: flex;
      align-items: stretch;
      width: 50%;
      height: 100%; }
      .hero__nav-menu li {
        height: 100%; }
      .hero__nav-menu--item:link, .hero__nav-menu--item:visited {
        display: block;
        height: 100%;
        color: #FEFEFE;
        font-size: 1.6rem;
        padding: 2rem;
        transition: all .3s;
        border-bottom: 3px solid transparent; }
      .hero__nav-menu--item:hover, .hero__nav-menu--item:active {
        background-color: rgba(68, 68, 68, 0.6);
        border-bottom: 3px solid #0984e3; }
      .hero__nav-menu .active {
        background-color: rgba(68, 68, 68, 0.6);
        border-bottom: 3px solid #0984e3; }
  .hero__title {
    height: 10vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 1.8px;
    font-weight: 300;
    text-transform: uppercase; }
    .hero__title-desc {
      color: #fdcb6e;
      text-align: center;
      margin-bottom: 3.5rem;
      height: 5vh; }
  .hero__desc {
    width: 450px;
    margin: 0 auto;
    height: 20vh; }
  .hero__img {
    object-fit: contain;
    display: block;
    width: 50%;
    height: 30vh;
    margin: 3rem auto; }

.aboutme {
  background-color: #FEFEFE;
  color: #111; }
  .aboutme .wrapper {
    padding: 5rem; }
  .aboutme__title {
    text-align: center;
    position: relative;
    margin-bottom: 4rem; }
    .aboutme__title::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 80px;
      background-color: #0984e3; }
  .aboutme__info {
    display: flex;
    justify-content: center; }
    .aboutme__info-img {
      width: 40%;
      height: 40vh;
      object-fit: contain; }
    .aboutme__info-text {
      width: 40%; }
      .aboutme__info-text--title {
        margin-bottom: 2rem; }
      .aboutme__info-text--desc {
        line-height: 1.7em;
        font-size: 1.6rem;
        margin-bottom: 1.5rem; }
  .aboutme .technologies {
    background-color: #111;
    color: #FEFEFE;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .aboutme .technologies__bars {
      width: 60%; }
      .aboutme .technologies__bars .technology {
        margin-bottom: 2.5rem; }
        .aboutme .technologies__bars .technology__name {
          margin-bottom: 1rem;
          font-size: 1.6rem; }
        .aboutme .technologies__bars .technology .bar {
          height: 3rem;
          width: 100%;
          background-color: #fdcb6e;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
          .aboutme .technologies__bars .technology .bar .reached {
            height: 100%;
            width: 60%; }
            .aboutme .technologies__bars .technology .bar .reached .fill {
              background-color: #0984e3;
              width: 100%;
              height: 100%;
              animation: expand 1.5s ease-in-out 2s; }
          .aboutme .technologies__bars .technology .bar .html {
            width: 95%; }
          .aboutme .technologies__bars .technology .bar .css {
            width: 95%; }
          .aboutme .technologies__bars .technology .bar .js {
            width: 90%; }
          .aboutme .technologies__bars .technology .bar .react {
            width: 80%; }
          .aboutme .technologies__bars .technology .bar .php {
            width: 75%; }
  .aboutme .history {
    background-color: #FEFEFE;
    color: #111;
    padding: 5rem;
    position: relative; }
    .aboutme .history__title {
      text-align: center;
      position: relative;
      margin-bottom: 4rem; }
      .aboutme .history__title::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80px;
        background-color: #0984e3; }
    .aboutme .history__edu, .aboutme .history__work {
      width: 45%; }
      .aboutme .history__edu-title, .aboutme .history__work-title {
        font-size: 2rem;
        margin-bottom: 2rem; }
      .aboutme .history__edu-desc, .aboutme .history__work-desc {
        line-height: 1.6em; }
      .aboutme .history__edu ul, .aboutme .history__work ul {
        margin-top: 3rem; }
        .aboutme .history__edu ul li, .aboutme .history__work ul li {
          margin: 3.5rem 0;
          margin-left: 3rem;
          position: relative; }
          .aboutme .history__edu ul li .reached, .aboutme .history__work ul li .reached {
            position: relative;
            width: 50%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.3);
            margin-top: 4rem; }
            .aboutme .history__edu ul li .reached::before, .aboutme .history__work ul li .reached::before {
              content: '';
              position: absolute;
              font-size: 1.2rem;
              top: -2rem;
              left: 0; }
            .aboutme .history__edu ul li .reached .fill, .aboutme .history__work ul li .reached .fill {
              width: 50%;
              height: 100%;
              background-color: #13a513; }
          .aboutme .history__edu ul li .miun::before, .aboutme .history__work ul li .miun::before {
            content: 'Currently at 50%'; }
          .aboutme .history__edu ul li .miun .fill, .aboutme .history__work ul li .miun .fill {
            width: 50%; }
          .aboutme .history__edu ul li .fcc::before, .aboutme .history__work ul li .fcc::before {
            content: 'Currently at 70%'; }
          .aboutme .history__edu ul li .fcc .fill, .aboutme .history__work ul li .fcc .fill {
            width: 70%; }
          .aboutme .history__edu ul li::before, .aboutme .history__work ul li::before {
            content: '\01F449';
            position: absolute;
            left: -3rem; }
          .aboutme .history__edu ul li .edutitle, .aboutme .history__work ul li .edutitle {
            font-size: 1.6rem;
            margin-bottom: 1rem; }
          .aboutme .history__edu ul li .eduplace, .aboutme .history__work ul li .eduplace {
            font-size: 1.4rem;
            font-weight: 600; }
    .aboutme .history__work .projectlink:link, .aboutme .history__work .projectlink:visited {
      display: block;
      width: 17rem;
      padding: 2rem 1.5rem;
      margin-top: 3rem;
      background-color: #0984e3;
      color: #fdcb6e;
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;
      transition: all .3s; }
    .aboutme .history__work .projectlink:hover, .aboutme .history__work .projectlink:active {
      background-color: #0767b2; }
    .aboutme .history .certificates {
      display: none;
      padding: 1.5rem 3rem;
      width: 90vw;
      height: 85vh;
      background-color: #eed7a7;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
      z-index: 20;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .aboutme .history .certificates .active {
        color: #13a513; }
      .aboutme .history .certificates .close {
        cursor: pointer;
        width: 30px;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 5rem;
        font-weight: 600;
        color: #d63031; }
      .aboutme .history .certificates__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem; }
        .aboutme .history .certificates__title::after {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          width: 80px;
          background-color: #0984e3; }
      .aboutme .history .certificates__img {
        width: 80%;
        height: 40vh;
        margin: 3rem auto;
        background-image: url(../img/certificates/basic_css_jonas.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .aboutme .history .certificates__courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .aboutme .history .certificates__courses-course {
          margin-bottom: 1rem;
          cursor: pointer;
          color: #0984e3;
          font-weight: 600;
          transition: all .3s; }
          .aboutme .history .certificates__courses-course:hover {
            color: #065999; }
  .aboutme .skills {
    background-color: #111;
    color: #FEFEFE;
    padding: 5rem; }
    .aboutme .skills__title {
      text-align: center;
      position: relative;
      margin-bottom: 4rem; }
      .aboutme .skills__title::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 80px;
        background-color: #0984e3; }
    .aboutme .skills__box {
      width: 55%;
      margin: 5rem auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .aboutme .skills__box-item {
        width: 30%;
        margin-bottom: 4.5rem;
        position: relative; }
        .aboutme .skills__box-item img {
          width: 100%; }
        .aboutme .skills__box-item p {
          position: absolute;
          bottom: -3rem;
          left: 50%;
          transform: translateX(-50%); }

.projects .wrapper {
  padding: 5rem; }

.projects__title {
  text-align: center;
  position: relative;
  margin-bottom: 4rem; }
  .projects__title::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: #0984e3; }

.projects__collection {
  width: 100%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .projects__collection-item {
    width: 30%;
    min-width: 31.5rem;
    background-color: #FEFEFE;
    height: 35vh;
    margin-bottom: 3rem;
    padding: 1.5rem; }
    .projects__collection-item .protector {
      cursor: pointer;
      width: 100%;
      height: 70%;
      overflow: hidden; }
      .projects__collection-item .protector:hover .projects__collection-item--img {
        transform: scale(1.3); }
        .projects__collection-item .protector:hover .projects__collection-item--img .viewbtn, .projects__collection-item .protector:hover .projects__collection-item--img .srcbtn {
          opacity: 1; }
        .projects__collection-item .protector:hover .projects__collection-item--img::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2); }
    .projects__collection-item--img {
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .5s; }
      .projects__collection-item--img .viewbtn, .projects__collection-item--img .srcbtn {
        opacity: 0;
        padding: 1rem 1.5rem;
        border: 1px solid #0984e3;
        background-color: rgba(254, 254, 254, 0.7);
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s; }
        .projects__collection-item--img .viewbtn:hover, .projects__collection-item--img .srcbtn:hover {
          background-color: #FEFEFE; }
      .projects__collection-item--img .srcbtn {
        top: 50%; }
    .projects__collection-item--info {
      margin-top: 5px;
      width: 100%;
      height: 30%;
      background-color: #FEFEFE;
      color: #111; }
      .projects__collection-item--info .desc {
        font-size: 1.6rem;
        margin-bottom: .5rem; }
      .projects__collection-item--info .tools {
        font-size: 1.4rem;
        margin-bottom: .5rem; }
        .projects__collection-item--info .tools span {
          font-weight: 600; }
      .projects__collection-item--info .readmore {
        display: block;
        font-size: 1.6rem;
        text-align: center; }
  .projects__collection .projects__collection-item:nth-child(1) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Bookworm.png"); }
  .projects__collection .projects__collection-item:nth-child(2) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Fastigheter Mäkleri.png"); }
  .projects__collection .projects__collection-item:nth-child(3) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Nätbygg AB.png"); }
  .projects__collection .projects__collection-item:nth-child(4) .protector .projects__collection-item--img {
    background-image: url("../img/screenshots/Screenshot_2019-03-03 Restaurant App.png"); }
