.aboutme {
    background-color: $white;
    color: $black;

    .wrapper {
        padding: 5rem;
    }

    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem;

        &::after {
            @include titleline;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        
        &-img {
            width: 45%;
            height: 100%;
            object-fit: contain;
        }

        &-text {
            width: 50%;

            &--title {
                margin-bottom: 2rem;
            }

            &--desc {
                line-height: 1.7em;
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }
        }
    }

    .skills {
        background-color: #111;
        color: #FEFEFE;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__bars {
            width: 60%;

            .technology {
                margin-bottom: 2.5rem;

                &__name {
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                }

                .bar {
                    height: 3rem;
                    width: 100%;
                    background-color: $brightyarrow;
                    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);

                    .reached {
                        height: 100%;
                        width: 60%;
                        
                        .fill {
                            background-color: $electronblue;
                            width: 100%;
                            height: 100%;
                            animation: expand 1.5s ease-in-out 2s;
                        }
                    }

                    .html { width: 95%; }

                    .css { width: 95%; }

                    .js {
                        width: 90%;
                    }
                    
                    .react {
                        width: 80%;
                    }

                    .php {
                        width: 75%;
                    }
                }
            }
        }
    }

    .history {
        background-color: #FEFEFE;
        color: #111;
    }
}