.aboutme {
    background-color: $white;
    color: $black;

    .wrapper {
        padding: 5rem;
    }

    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem;

        &::after {
            @include titleline;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        
        &-img {
            width: 45%;
            height: 100%;
            object-fit: contain;
        }

        &-text {
            width: 50%;

            &--title {
                margin-bottom: 2rem;
            }

            &--desc {
                line-height: 1.7em;
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }
        }
    }

    .technologies {
        background-color: #111;
        color: #FEFEFE;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__bars {
            width: 60%;

            .technology {
                margin-bottom: 2.5rem;

                &__name {
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                }

                .bar {
                    height: 3rem;
                    width: 100%;
                    background-color: $brightyarrow;
                    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);

                    .reached {
                        height: 100%;
                        width: 60%;
                        
                        .fill {
                            background-color: $electronblue;
                            width: 100%;
                            height: 100%;
                            animation: expand 1.5s ease-in-out 2s;
                        }
                    }

                    .html { width: 95%; }

                    .css { width: 95%; }

                    .js {
                        width: 90%;
                    }
                    
                    .react {
                        width: 80%;
                    }

                    .php {
                        width: 75%;
                    }
                }
            }
        }
    }

    .history {
        background-color: #FEFEFE;
        color: #111;
        padding: 5rem;
        position: relative;

        &__title {
            text-align: center;
            position: relative;
            margin-bottom: 4rem;
    
            &::after {
                @include titleline;
            }
        }

        &__edu, &__work {
            width: 45%;
            
            &-title {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            &-desc {
                line-height: 1.6em;
            }

            ul {
                margin-top: 3rem;
                
                li {

                    .reached {
                        position: relative;
                        width: 50%;
                        height: 2px;
                        background-color: rgba(0, 0, 0, .3);
                        margin-top: 4rem;

                        &::before {
                            content: '';
                            position: absolute;
                            font-size: 1.2rem;
                            top: -2rem;
                            left: 0;
                        }

                        .fill {
                            width: 50%;
                            height: 100%;
                            background-color: $green;
                        }
                    }

                    .miun {
                        &::before {
                            content: 'Currently at 50%';
                        }

                        .fill {
                            width: 50%;
                        }
                    }

                    .fcc {
                        &::before {
                            content: 'Currently at 70%';
                        }

                        .fill {
                            width: 70%;
                        }
                    }

                    margin: 3.5rem 0;
                    margin-left: 3rem;
                    position: relative;

                    &::before {
                        content: '\01F449';
                        position: absolute;
                        left: -3rem;
                        // top: 50%;
                        // transform: translateY(-50%);
                    }

                    .edutitle {
                        font-size: 1.6rem;
                        margin-bottom: 1rem;
                    }

                    .eduplace {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }
                }
            }
        }

        &__work {
            
            .projectlink:link, .projectlink:visited {
                display: block;
                width: 17rem;
                padding: 2rem 1.5rem;
                margin-top: 3rem;
                background-color: $electronblue;
                color: $brightyarrow;
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem;
                transition: all .3s;
            }

            .projectlink:hover, .projectlink:active {
                background-color: darken($electronblue, 10%);
            }
        }

        .certificates {
            display: none;
            padding: 1.5rem 3rem;
            width: 90vw;
            height: 85vh;
            background-color: $beige;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
            z-index: 20;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .active {
                color: $green;
            }

            .close {
                cursor: pointer;
                text-align: center;
                margin-bottom: 1rem;
                font-size: 5rem;
                font-weight: 600;
                color: $chigongred;
            }

            &__title {
                text-align: center;
                position: relative;
                margin-bottom: 4rem;
        
                &::after {
                    @include titleline;
                }
            }

            &__img {
                width: 80%;
                height: 40vh;
                margin: 3rem auto;
                background-image: url(../img/certificates/basic_css_jonas.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &__courses {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &-course {
                    margin-bottom: 1rem;
                    cursor: pointer;
                    color: $electronblue;
                    font-weight: 600;
                    transition: all .3s;

                    &:hover {
                        color: darken($electronblue, 15%);
                    }
                }
            }
        }
    }

    .skills {
        background-color: $black;
        color: $white;
        padding: 5rem;

        &__title {
            text-align: center;
            position: relative;
            margin-bottom: 4rem;
    
            &::after {
                @include titleline;
            }
        }

        &__box {
            width: 55%;
            margin: 5rem auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &-item {
                width: 30%;
                margin-bottom: 4.5rem;
                position: relative;

                img {
                    width: 100%;
                }

                p {
                    position: absolute;
                    bottom: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}