$electronblue: #0984e3;
$chigongred: #d63031;
$brightyarrow: #fdcb6e;
$black: #111;
$white: #FEFEFE;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: $primary-font;
    background-color: #111;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

p, li, a {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}