$electronblue: #0984e3;
$chigongred: #d63031;
$brightyarrow: #fdcb6e;
$green: rgb(19, 165, 19);
$black: #111;
$white: #FEFEFE;
$beige: rgb(238, 215, 167);

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

@import 'mixins';

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: $primary-font;
    // background-color: rgba(#111, .7);
    scroll-behavior: smooth;
}

.backdrop {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

html {
    font-size: 62.5%;

    @include mediaquery(700px) {
      font-size: 56.25%;
    }
}

body {
    position: relative;
    background-color: $black;
}

.background, .cover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -10;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.background {
    z-index: -5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

p, li, a {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: $electronblue;
    font-weight: 600;
    font-size: inherit;
}

a:hover, a:active {
    color: darken($electronblue, 10%);
}

.flexing {
    display: flex;
    justify-content: space-between;

    @include mediaquery(700px) {
      flex-direction: column;
      align-items: center;
    }
}

.arrow {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    padding-bottom: .5rem;
    border-radius: 50%;
    position: fixed;
    z-index: 50;
    bottom: 4rem;
    right: 5rem;
    background-color: $brightyarrow;
    color: $electronblue;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    transition: all 1.5s;
    opacity: 0; // initial value
}

.dropdown {
    transform: translateY(-100vh);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 20;
    background-color: $white;
    width: 100%;
    height: 50vh;
    min-height: auto;
    padding: 3rem;
    box-shadow: 2px 3px 3px rgba($white, .5);
    transition: all .5s;

    &-close {
        cursor: pointer;
        font-size: 5rem;
        font-weight: 600;
        color: $chigongred;
    }

    li {
        margin-bottom: 1rem;
    }
}