.hero {
    width: 100%;
    height: 100vh;
    // background-color: $black;
    color: $white;
    
    &__nav {
        position: relative;
        background-color: $black;
        width: 100%;
        height: 10vh;
        min-height: 9rem;
        padding: 0 5rem;
        // padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: .5px 1px 1px rgba(#FFF, .5);

        .hamburger {
            font-size: 4rem;
            position: absolute;
            right: 2rem;
            top: 3rem;
            cursor: pointer;
        }

        &-logo {
            padding: 1.5rem 0;
            text-align: center;
            color: $white;
            // width: 15%;
            display: block;
            border-bottom: 1.5px solid $brightyarrow;
        }
        
        &-menu {
            display: flex;
            align-items: stretch;
            width: 50%;
            height: 100%;

            @include mediaquery(950px) {
                width: 60%;
            }

            @include mediaquery(800px) {
                width: 70%;
            }

            li {
                height: 100%;

            }
            
            &--item {
                &:link, &:visited {

                
                display: block;
                height: 100%;
                color: $white;
                font-size: 1.6rem;
                padding: 2rem;
                transition: all .3s;
                border-bottom: 3px solid transparent;
                }

                &:hover, &:active {
                    background-color: rgba(#444, .6);
                    border-bottom: 3px solid $electronblue;
                }
            }
            
            .active {
                background-color: rgba(#444, .6);
                border-bottom: 3px solid $electronblue;
            }
        }
    }

    &__title {
        height: 10vh;
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 3.2rem;
        letter-spacing: 1.8px;
        font-weight: 300;
        text-transform: uppercase;

        &-desc {
            color: $brightyarrow;
            text-align: center;
            margin-bottom: 3.5rem;
            height: 5vh;
        }
    }

    &__desc {
        width: 450px;
        margin: 0 auto;
        height: 20vh;
    }

    &__img {
        object-fit: contain;
        display: block;
        width: 50%;
        height: 30vh;
        margin: 3rem auto;
        // box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    }
}