.project {
    background-color: $white;
    color: $black;
    height: 100%;
    
    .wrapper {
        padding: 5rem;
        background-color: $white;
        text-align: center;
    }

    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem;

        &::after {
            @include titleline;
        }
    }

    .viewproject {
        font-size: 2rem;
        display: inline-block;
    }

    &__desc {
        width: 40%;
        margin: 3rem auto;
        text-align: left;

        @include mediaquery(700px) {
          width: 100%;
        }
    }

    ul {
        list-style-type: square;
        width: 35%;
        margin: 3rem auto;

        @include mediaquery(700px) {
          width: 80%;
        }

        li {
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    &__imgtxt {
        font-size: 1.4rem;
        text-align: center;
        margin: 1rem auto 1.5rem auto;
    }

    .moodboard1 {
        background-image: url(../img/project1/moodboard.jpg);
    }

    &__moodboard {
        width: 50%;
        margin: 2rem auto;
        height: 30vh;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mockup1 {
        background-image: url(../img/project1/mockup_main.jpg);
    }
    
    &__mockup {
        width: 40%;
        margin: 2rem auto;
        height: 60vh;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .section2 {
        background-image: url(../img/screenshots/Section_Project2_Fastigheter.jpg);
    }

    .section4 {
        background-image: url(../img/screenshots/Section_Project4_Restaurant.png);
    }

    .section5 {
        background-image: url(../img/screenshots/section_opinion_comments.png);
    }

    .section3 {
        background-image: url(../img/screenshots/Section_Natbygg.png);
    }

    .sitemap3 {
        background-image: url(../img/screenshots/Sitemap_Project3.png);
    }
    
    &__section, &__sitemap {
        width: 55%;
        margin: 2rem auto;
        height: 40vh;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include mediaquery(700px) {
          width: 90%;
        }
    }

    &__sectionsmall {
        width: 40%;
        background-size: contain;

        @include mediaquery(700px) {
          width: 80%;
        }

        @include mediaquery(400px) {
          width: 95%;
        }
    }

}