.project {
    background-color: $white;
    color:$black;

    .wrapper {
        padding: 5rem;
    }

    &__title {
        text-align: center;
        position: relative;
        margin-bottom: 4rem;

        &::after {
            @include titleline;
        }
    }
}